In [23]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [37]:
players = pd.read_csv('players.csv')
clubs = pd.read_csv('clubs.csv')
games = pd.read_csv('games.csv')
appreances = pd.read_csv('appearances.csv')

In [38]:
players = players.drop(['image_url', 'url'], axis=1)
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30499 entries, 0 to 30498
Data columns (total 21 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             30499 non-null  int64
 1   first_name                            28512 non-null  object
 2   last_name                             30499 non-null  object
 3   name                                  30499 non-null  object
 4   last_season                           30499 non-null  int64
 5   current_club_id                       30499 non-null  int64
 6   player_code                           30499 non-null  object
 7   country_of_birth                      27779 non-null  object
 8   city_of_birth                         28302 non-null  object
 9   country_of_citizenship                29920 non-null  object
 10  date_of_birth                         30454 non-null  object
 11  sub_position                          30325 non-null  object
 12  position                              30499 non-null  object
 13  foot                                  28134 non-null  object
 14  height_in_cm                          28452 non-null  float64
 15  contract_expiration_date              19063 non-null  object
 16  agent_name                            15128 non-null  object
 17  current_club_domestic_competition_id  30499 non-null  object
 18  current_club_name                     30499 non-null  object
 19  market_value_in_eur                   29378 non-null  float64
 20  highest_market_value_in_eur           29378 non-null  float64
dtypes: float64(3), int64(3), object(15)
memory usage: 4.9+ MB

In [39]:
kplayers = players[players['country_of_citizenship'] == 'Korea, South']

In [42]:
valuations = pd.read_csv('player_valuations.csv')
valuations

,player_id,date,market_value_in_eur,current_club_id,player_club_domestic_competition_id
0,405973,2000-01-20,150000,3057,BE1
1,342216,2001-07-20,100000,1241,SC1
2,3132,2003-12-09,400000,126,TR1
3,6893,2003-12-15,900000,984,GB1
4,10,2004-10-04,7000000,398,IT1
...,...,...,...,...,...
466897,937958,2024-03-21,75000000,131,ES1
466898,938158,2024-03-21,7500000,131,ES1
466899,941869,2024-03-21,500000,3709,ES1
466900,962110,2024-03-21,25000000,131,ES1
466901,991268,2024-03-21,40000000,1108,ES1

In [43]:
merged_df = pd.merge(valuations, players, on='player_id')

,player_id,date,market_value_in_eur_x,current_club_id_x,player_club_domestic_competition_id,first_name,last_name,name,last_season,current_club_id_y,...,sub_position,position,foot,height_in_cm,contract_expiration_date,agent_name,current_club_domestic_competition_id,current_club_name,market_value_in_eur_y,highest_market_value_in_eur
0,405973,2000-01-20,150000,3057,BE1,Fadel,Gobitaka,Fadel Gobitaka,2017,3057,...,Left Winger,Attack,NaN,181.0,2023-06-30 00:00:00,NaN,BE1,Royal Standard Club de LiÃ¨ge,50000.0,250000.0
1,405973,2016-02-07,250000,3057,BE1,Fadel,Gobitaka,Fadel Gobitaka,2017,3057,...,Left Winger,Attack,NaN,181.0,2023-06-30 00:00:00,NaN,BE1,Royal Standard Club de LiÃ¨ge,50000.0,250000.0
2,405973,2016-07-15,250000,3057,BE1,Fadel,Gobitaka,Fadel Gobitaka,2017,3057,...,Left Winger,Attack,NaN,181.0,2023-06-30 00:00:00,NaN,BE1,Royal Standard Club de LiÃ¨ge,50000.0,250000.0
3,405973,2017-01-01,150000,3057,BE1,Fadel,Gobitaka,Fadel Gobitaka,2017,3057,...,Left Winger,Attack,NaN,181.0,2023-06-30 00:00:00,NaN,BE1,Royal Standard Club de LiÃ¨ge,50000.0,250000.0
4,405973,2018-09-11,75000,3057,BE1,Fadel,Gobitaka,Fadel Gobitaka,2017,3057,...,Left Winger,Attack,NaN,181.0,2023-06-30 00:00:00,NaN,BE1,Royal Standard Club de LiÃ¨ge,50000.0,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466897,1041334,2024-03-18,50000,48726,UKR1,NaN,Klayver,Klayver,2023,48726,...,Left Winger,Attack,right,178.0,2028-06-30 00:00:00,NaN,UKR1,FC Rukh Lviv,50000.0,50000.0
466898,1057222,2024-03-18,200000,660,UKR1,Viktor,Tsukanov,Viktor Tsukanov,2023,660,...,Central Midfield,Midfield,right,170.0,2028-12-31 00:00:00,ProStar,UKR1,FC Shakhtar Donetsk,200000.0,200000.0
466899,1158515,2024-03-18,100000,60551,UKR1,Ramik,Gadzhyev,Ramik Gadzhyev,2023,60551,...,Left Winger,Attack,left,180.0,2025-06-30 00:00:00,TFA,UKR1,Sport Klub Dnipro-1,100000.0,100000.0
466900,903693,2024-03-19,1000000,583,FR1,Senny,Mayulu,Senny Mayulu,2023,583,...,Attacking Midfield,Midfield,both,183.0,2024-06-30 00:00:00,NaN,FR1,Paris Saint-Germain Football Club,1000000.0,1000000.0
466901,1127413,2024-03-20,100000,2410,RU1,Amirhossein,Reyvandi,Amirhossein Reyvandi,2023,2410,...,Left-Back,Defender,left,172.0,2024-06-30 00:00:00,NaN,RU1,PFK CSKA Moskva,100000.0,100000.0