In [144]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score
import xgboost as xgb
from sklearn.feature_selection import RFECV

In [145]:
df = pd.read_csv('non_rolling_mean.csv')

In [146]:
df.columns

Index(['game_id', 'Date', 'Team', 'Opponent', 'club_id', 'opponent_id',
       'own_manager_name', 'opponent_manager_name', 'Referee', 'TY', 'OY',
       'TR', 'OR', 'B365TW', 'B365D', 'B365OW', 'Table', 'Venue', 'Result',
       'Possesion', 'Aerial Duels(%)', 'GF', 'GA', 'Oppo. Table',
       'Shot on Target', 'Shot on Target(%)', 'Goals per Shot',
       'Expected Goals', 'Save%', 'Clean Sheet', 'Pass Completion %',
       'Assists', 'Exp. Assisted Goals', 'Expected Assists', 'Tackles Won',
       '% of Dribblers Tackled', 'Blocks', 'Interceptions', 'Error',
       'market_value_in_eur'],
      dtype='object')

In [147]:
df

,game_id,Date,Team,Opponent,club_id,opponent_id,own_manager_name,opponent_manager_name,Referee,TY,...,Pass Completion %,Assists,Exp. Assisted Goals,Expected Assists,Tackles Won,% of Dribblers Tackled,Blocks,Interceptions,Error,market_value_in_eur
0,3050167,2018-08-12,Arsenal,Manchester City,11,281,Unai Emery,Pep Guardiola,M Oliver,2,...,77.1,0,0.5,0.6,14,40.0,13,12,1,3.064286e+07
1,3050167,2018-08-12,Manchester City,Arsenal,281,11,Pep Guardiola,Unai Emery,M Oliver,2,...,81.9,2,0.5,0.4,5,28.6,14,12,1,6.357143e+07
2,3050168,2018-08-11,Cardiff City,Bournemouth,603,989,Neil Warnock,Eddie Howe,K Friend,1,...,58.4,0,1.5,1.2,12,47.6,16,15,0,2.196429e+06
3,3050168,2018-08-11,Bournemouth,Cardiff City,989,603,Eddie Howe,Neil Warnock,K Friend,1,...,79.0,2,1.3,1.1,5,47.1,11,4,0,6.035714e+06
4,3050169,2018-08-11,Fulham,Crystal Palace,931,873,Slavisa Jokanovic,Roy Hodgson,M Dean,1,...,85.2,0,0.5,0.7,19,42.9,5,15,1,1.060714e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4361,4095365,2024-03-16,Fulham,Tottenham,931,148,Marco Silva,Ange Postecoglou,R Jones,2,...,75.8,2,1.5,1.3,9,53.6,15,13,0,1.681250e+07
4362,4095366,2024-03-16,Luton Town,Nottingham Forest,1031,703,Rob Edwards,Nuno Esp√≠rito Santo,D England,1,...,78.2,1,0.4,0.7,5,36.4,15,5,0,5.200000e+06
4363,4095366,2024-03-16,Nottingham Forest,Luton Town,703,1031,Nuno Esp√≠rito Santo,Rob Edwards,D England,2,...,68.8,1,1.7,1.4,17,48.1,14,7,0,1.485714e+07
4364,4095368,2024-03-17,Aston Villa,West Ham,405,379,Unai Emery,David Moyes,J Gillett,3,...,85.3,1,0.5,0.9,10,53.8,9,3,1,3.106667e+07
4365,4095368,2024-03-17,West Ham,Aston Villa,379,405,David Moyes,Unai Emery,J Gillett,3,...,72.6,1,1.8,1.5,8,33.3,17,8,0,2.563571e+07

In [148]:
club_games = pd.read_csv('C:/Users/parks/OneDrive/Î∞îÌÉï ÌôîÎ©¥/DATASET/Football/club_games.csv')
club_games

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win
0,2320450,1468,0,NaN,Holger Bachthaler,24,2,NaN,Armin Veh,Home,0
1,2320460,1,3,NaN,J√ºrgen Luginger,86,1,NaN,Robin Dutt,Home,1
2,2320472,2036,4,NaN,Frank Schmidt,72,5,NaN,Alexander Schmidt,Home,0
3,2321044,16,2,1.0,J√ºrgen Klopp,23,1,15.0,Torsten Lieberknecht,Home,1
4,2321060,23,0,18.0,Torsten Lieberknecht,24,2,11.0,Armin Veh,Home,0
...,...,...,...,...,...,...,...,...,...,...,...
134837,3142950,681,0,NaN,Imanol Alguacil,150,0,NaN,Quique Seti√©n,Away,0
134838,3148382,150,1,NaN,Quique Seti√©n,714,1,NaN,Rubi,Away,0
134839,3153158,418,1,NaN,Santiago Solari,131,1,NaN,Ernesto Valverde,Away,0
134840,3307741,36661,1,NaN,Aleksandr Gorshkov,32218,2,NaN,Viktor Antikhovich,Away,0
134841,3520159,50600,0,NaN,Aleksandr Kishinevskiy,12060,4,NaN,Evgeniy Kharlanov,Away,0

In [149]:
club_games = club_games.sort_values(by=['club_id', 'game_id'])

In [150]:
# Í∞Å ÌÅ¥ÎüΩÏùò Ï¥ù Í≤åÏûÑ Ïàò Ïπ¥Ïö¥Ìä∏ Î∞è ÎàÑÏ†ÅÏπòÎ°ú Ï∂îÍ∞Ä
club_games['total_games'] = club_games.groupby('club_id')['game_id'].cumcount()

# Í∞Å ÌÅ¥ÎüΩÏùò ÏäπÎ¶¨Ìïú Í≤åÏûÑ Ïàò Ïπ¥Ïö¥Ìä∏ Î∞è ÎàÑÏ†ÅÏπòÎ°ú Ï∂îÍ∞Ä
club_games['wins'] = (club_games['is_win'] == 1).groupby(club_games['club_id']).cumsum() - club_games['is_win']

# ÏäπÎ¶¨ ÌôïÎ•† Í≥ÑÏÇ∞ Î∞è ÎàÑÏ†ÅÏπòÎ°ú Ï∂îÍ∞Ä
club_games['win_percentage'] = ((club_games['wins'] / club_games['total_games']) * 100).fillna(0)

In [151]:
club_games

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win,total_games,wins,win_percentage
63481,2221775,1,0,NaN,J√ºrgen Luginger,33,5,NaN,Huub Stevens,Home,0,0,0,0.000000
1,2320460,1,3,NaN,J√ºrgen Luginger,86,1,NaN,Robin Dutt,Home,1,1,0,0.000000
25171,2361069,1,2,NaN,Milan Sasic,127,1,NaN,Andr√© Breitenreiter,Home,1,2,1,50.000000
8500,2370752,1,0,NaN,Milan Sasic,16,2,NaN,J√ºrgen Klopp,Home,0,3,2,66.666667
26030,2864716,1,1,NaN,Dirk Lottner,89,2,NaN,Jens Keller,Home,0,4,2,50.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108617,4192074,112752,1,NaN,Javier Ubasos,112751,2,NaN,Diego P√©rez,Away,0,0,0,0.000000
120921,4192077,112753,3,NaN,Juanvi L√≥pez,74219,1,NaN,Nacho Aznar,Away,1,0,0,0.000000
61802,4203999,112753,0,NaN,Juanvi L√≥pez,1108,10,NaN,Luis Garc√≠a,Home,0,1,1,100.000000
125093,4192079,112754,1,NaN,NaN,92096,3,NaN,NaN,Away,0,0,0,0.000000
133346,4192080,112755,0,NaN,NaN,36551,1,NaN,NaN,Away,0,0,0,0.000000

In [152]:
club_games

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win,total_games,wins,win_percentage
63481,2221775,1,0,NaN,J√ºrgen Luginger,33,5,NaN,Huub Stevens,Home,0,0,0,0.000000
1,2320460,1,3,NaN,J√ºrgen Luginger,86,1,NaN,Robin Dutt,Home,1,1,0,0.000000
25171,2361069,1,2,NaN,Milan Sasic,127,1,NaN,Andr√© Breitenreiter,Home,1,2,1,50.000000
8500,2370752,1,0,NaN,Milan Sasic,16,2,NaN,J√ºrgen Klopp,Home,0,3,2,66.666667
26030,2864716,1,1,NaN,Dirk Lottner,89,2,NaN,Jens Keller,Home,0,4,2,50.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108617,4192074,112752,1,NaN,Javier Ubasos,112751,2,NaN,Diego P√©rez,Away,0,0,0,0.000000
120921,4192077,112753,3,NaN,Juanvi L√≥pez,74219,1,NaN,Nacho Aznar,Away,1,0,0,0.000000
61802,4203999,112753,0,NaN,Juanvi L√≥pez,1108,10,NaN,Luis Garc√≠a,Home,0,1,1,100.000000
125093,4192079,112754,1,NaN,NaN,92096,3,NaN,NaN,Away,0,0,0,0.000000
133346,4192080,112755,0,NaN,NaN,36551,1,NaN,NaN,Away,0,0,0,0.000000

In [153]:
club_games.dropna()

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win,total_games,wins,win_percentage
41549,2460633,3,0,12.0,Peter St√∂ger,41,0,13.0,Mirko Slomka,Home,0,7,5,71.428571
104814,2460642,3,2,4.0,Peter St√∂ger,79,0,16.0,Armin Veh,Away,1,8,5,62.500000
92675,2460652,3,0,9.0,Peter St√∂ger,127,0,6.0,Andr√© Breitenreiter,Away,0,9,6,66.666667
12712,2460660,3,0,8.0,Peter St√∂ger,18,0,7.0,Lucien Favre,Home,0,10,6,60.000000
80134,2460667,3,0,9.0,Peter St√∂ger,42,1,3.0,Tayfun Korkut,Away,0,11,6,54.545455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48983,4062343,83678,0,15.0,Perica Ognjenovic,10690,5,3.0,Patrick van Leeuwen,Home,0,30,9,30.000000
112518,4066660,83678,0,15.0,Perica Ognjenovic,55686,2,9.0,Edmar Galovskyi,Away,0,31,9,29.032258
116406,4066667,83678,0,15.0,Perica Ognjenovic,3592,2,7.0,Yuriy Vernydub,Away,0,32,9,28.125000
8076,4070618,83678,1,15.0,Perica Ognjenovic,61825,2,8.0,Volodymyr Sharan,Home,0,33,9,27.272727
7379,4070627,83678,0,15.0,Perica Ognjenovic,6992,3,10.0,Roman Grygorchuk,Home,0,34,9,26.470588

In [154]:
club_games[(club_games['club_id'] == 1237) & (club_games['opponent_id'] == 985)]

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win,total_games,wins,win_percentage
93972,2872239,1237,0,9.0,Chris Hughton,985,1,2.0,Jos√© Mourinho,Away,0,23,9,39.130435
38354,2872477,1237,1,14.0,Chris Hughton,985,0,2.0,Jos√© Mourinho,Home,1,47,13,27.659574
69491,3012049,1237,0,NaN,Chris Hughton,985,2,NaN,Jos√© Mourinho,Away,0,52,17,32.692308
44865,3050177,1237,3,11.0,Chris Hughton,985,2,9.0,Jos√© Mourinho,Home,1,54,17,31.481481
118953,3050382,1237,1,13.0,Chris Hughton,985,2,6.0,Ole Gunnar Solskj√¶r,Away,0,74,24,32.432432
19062,3219171,1237,0,15.0,Graham Potter,985,3,5.0,Ole Gunnar Solskjaer,Home,0,106,33,31.132075
86492,3219366,1237,1,11.0,Graham Potter,985,3,7.0,Ole Gunnar Solskjaer,Away,0,125,36,28.800000
39850,3421694,1237,2,14.0,Graham Potter,985,3,9.0,Ole Gunnar Solskjaer,Home,0,138,40,28.985507
103151,3429789,1237,1,16.0,Graham Potter,985,2,2.0,Ole Gunnar Solskjaer,Away,0,165,46,27.878788
111663,3592084,1237,0,14.0,Graham Potter,985,2,4.0,Ralf Rangnick,Away,0,192,54,28.125000
19520,3592187,1237,4,9.0,Graham Potter,985,0,6.0,Ralf Rangnick,Home,1,206,57,27.669903
87801,3837822,1237,2,7.0,Graham Potter,985,1,14.0,Erik ten Hag,Away,1,217,63,29.032258
65332,3838714,1237,1,6.0,Roberto De Zerbi,985,0,4.0,Erik ten Hag,Home,1,246,77,31.300813
40980,4042688,1237,6,NaN,Roberto De Zerbi,985,7,NaN,Erik ten Hag,Home,0,262,87,33.206107
71503,4087967,1237,3,5.0,Roberto De Zerbi,985,1,12.0,Erik ten Hag,Away,1,267,90,33.707865

In [155]:
club_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134842 entries, 63481 to 133346
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   game_id                134842 non-null  int64
 1   club_id                134842 non-null  int64
 2   own_goals              134842 non-null  int64
 3   own_position           94898 non-null   float64
 4   own_manager_name       133350 non-null  object
 5   opponent_id            134842 non-null  int64
 6   opponent_goals         134842 non-null  int64
 7   opponent_position      94898 non-null   float64
 8   opponent_manager_name  133350 non-null  object
 9   hosting                134842 non-null  object
 10  is_win                 134842 non-null  int64
 11  total_games            134842 non-null  int64
 12  wins                   134842 non-null  int64
 13  win_percentage         134842 non-null  float64
dtypes: float64(3), int64(8), object(3)
memory usage: 15.4+ MB

In [156]:
# ÏÉÅÎåÄÏ†ÑÏ†ÅÎ≥Ñ Ï¥ù Í≤åÏûÑ Ïàò Ïπ¥Ïö¥Ìä∏ Î∞è ÎàÑÏ†ÅÏπòÎ°ú Ï∂îÍ∞Ä
club_games['total_games_vs_opponent'] = club_games.groupby(['club_id', 'opponent_id']).cumcount()

# ÏÉÅÎåÄÏ†ÑÏ†ÅÎ≥Ñ ÏäπÎ¶¨Ìïú Í≤åÏûÑ Ïàò Ïπ¥Ïö¥Ìä∏ Î∞è ÎàÑÏ†ÅÏπòÎ°ú Ï∂îÍ∞Ä
club_games['wins_vs_opponent'] = (club_games['is_win'] == 1).groupby([club_games['club_id'], club_games['opponent_id']]).cumsum() - club_games['is_win']

# ÏäπÎ¶¨ ÌôïÎ•† Í≥ÑÏÇ∞ Î∞è ÎàÑÏ†ÅÏπòÎ°ú Ï∂îÍ∞Ä
club_games['win_percentage_vs_opponent'] = ((club_games['wins_vs_opponent'] / club_games['total_games_vs_opponent']) * 100).fillna(0)

In [157]:
club_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134842 entries, 63481 to 133346
Data columns (total 17 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   game_id                     134842 non-null  int64
 1   club_id                     134842 non-null  int64
 2   own_goals                   134842 non-null  int64
 3   own_position                94898 non-null   float64
 4   own_manager_name            133350 non-null  object
 5   opponent_id                 134842 non-null  int64
 6   opponent_goals              134842 non-null  int64
 7   opponent_position           94898 non-null   float64
 8   opponent_manager_name       133350 non-null  object
 9   hosting                     134842 non-null  object
 10  is_win                      134842 non-null  int64
 11  total_games                 134842 non-null  int64
 12  wins                        134842 non-null  int64
 13  win_percentage              134842 non-null  float64
 14  total_games_vs_opponent     134842 non-null  int64
 15  wins_vs_opponent            134842 non-null  int64
 16  win_percentage_vs_opponent  134842 non-null  float64
dtypes: float64(4), int64(10), object(3)
memory usage: 18.5+ MB

In [158]:
club_games

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win,total_games,wins,win_percentage,total_games_vs_opponent,wins_vs_opponent,win_percentage_vs_opponent
63481,2221775,1,0,NaN,J√ºrgen Luginger,33,5,NaN,Huub Stevens,Home,0,0,0,0.000000,0,0,0.0
1,2320460,1,3,NaN,J√ºrgen Luginger,86,1,NaN,Robin Dutt,Home,1,1,0,0.000000,0,0,0.0
25171,2361069,1,2,NaN,Milan Sasic,127,1,NaN,Andr√© Breitenreiter,Home,1,2,1,50.000000,0,0,0.0
8500,2370752,1,0,NaN,Milan Sasic,16,2,NaN,J√ºrgen Klopp,Home,0,3,2,66.666667,0,0,0.0
26030,2864716,1,1,NaN,Dirk Lottner,89,2,NaN,Jens Keller,Home,0,4,2,50.000000,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108617,4192074,112752,1,NaN,Javier Ubasos,112751,2,NaN,Diego P√©rez,Away,0,0,0,0.000000,0,0,0.0
120921,4192077,112753,3,NaN,Juanvi L√≥pez,74219,1,NaN,Nacho Aznar,Away,1,0,0,0.000000,0,0,0.0
61802,4203999,112753,0,NaN,Juanvi L√≥pez,1108,10,NaN,Luis Garc√≠a,Home,0,1,1,100.000000,0,0,0.0
125093,4192079,112754,1,NaN,NaN,92096,3,NaN,NaN,Away,0,0,0,0.000000,0,0,0.0
133346,4192080,112755,0,NaN,NaN,36551,1,NaN,NaN,Away,0,0,0,0.000000,0,0,0.0

In [159]:
club_games['total_games_vs_opponent'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43], dtype=int64)

In [160]:
merged_df = pd.merge(df, club_games[['game_id', 'club_id', 'opponent_id', 'total_games', 'wins', 'win_percentage', 'total_games_vs_opponent', 'wins_vs_opponent', 'win_percentage_vs_opponent']], on=(['game_id', 'club_id', 'opponent_id']))

In [161]:
merged_df

,game_id,Date,Team,Opponent,club_id,opponent_id,own_manager_name,opponent_manager_name,Referee,TY,...,Blocks,Interceptions,Error,market_value_in_eur,total_games,wins,win_percentage,total_games_vs_opponent,wins_vs_opponent,win_percentage_vs_opponent
0,3050167,2018-08-12,Arsenal,Manchester City,11,281,Unai Emery,Pep Guardiola,M Oliver,2,...,13,12,1,3.064286e+07,317,186,58.675079,14,4,28.571429
1,3050167,2018-08-12,Manchester City,Arsenal,281,11,Pep Guardiola,Unai Emery,M Oliver,2,...,14,12,1,6.357143e+07,309,190,61.488673,14,5,35.714286
2,3050168,2018-08-11,Cardiff City,Bournemouth,603,989,Neil Warnock,Eddie Howe,K Friend,1,...,16,15,0,2.196429e+06,49,11,22.448980,0,0,0.000000
3,3050168,2018-08-11,Bournemouth,Cardiff City,989,603,Eddie Howe,Neil Warnock,K Friend,1,...,11,4,0,6.035714e+06,128,40,31.250000,0,0,0.000000
4,3050169,2018-08-11,Fulham,Crystal Palace,931,873,Slavisa Jokanovic,Roy Hodgson,M Dean,1,...,5,15,1,1.060714e+07,92,25,27.173913,2,1,50.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4361,4095365,2024-03-16,Fulham,Tottenham,931,148,Marco Silva,Ange Postecoglou,R Jones,2,...,15,13,0,1.681250e+07,247,68,27.530364,12,1,8.333333
4362,4095366,2024-03-16,Luton Town,Nottingham Forest,1031,703,Rob Edwards,Nuno Esp√≠rito Santo,D England,1,...,15,5,0,5.200000e+06,62,22,35.483871,1,0,0.000000
4363,4095366,2024-03-16,Nottingham Forest,Luton Town,703,1031,Nuno Esp√≠rito Santo,Rob Edwards,D England,2,...,14,7,0,1.485714e+07,90,27,30.000000,1,0,0.000000
4364,4095368,2024-03-17,Aston Villa,West Ham,405,379,Unai Emery,David Moyes,J Gillett,3,...,9,3,1,3.106667e+07,353,114,32.294618,17,3,17.647059
4365,4095368,2024-03-17,West Ham,Aston Villa,379,405,David Moyes,Unai Emery,J Gillett,3,...,17,8,0,2.563571e+07,501,183,36.526946,17,8,47.058824

In [162]:
df = merged_df.sort_values(['club_id', 'game_id'])

In [163]:
df = df.sort_values(['Date', 'game_id'])

In [164]:
df.to_csv('non_rolling_mean_win_percentage.csv')

In [165]:
df

,game_id,Date,Team,Opponent,club_id,opponent_id,own_manager_name,opponent_manager_name,Referee,TY,...,Blocks,Interceptions,Error,market_value_in_eur,total_games,wins,win_percentage,total_games_vs_opponent,wins_vs_opponent,win_percentage_vs_opponent
10,3050172,2018-08-10,Manchester Utd,Leicester City,985,1003,Jos√© Mourinho,Claude Puel,A Marriner,2,...,15,17,0,4.071429e+07,313,180,57.507987,9,5,55.555556
11,3050172,2018-08-10,Leicester City,Manchester Utd,1003,985,Claude Puel,Jos√© Mourinho,A Marriner,1,...,8,12,0,1.478571e+07,181,71,39.226519,9,1,11.111111
2,3050168,2018-08-11,Cardiff City,Bournemouth,603,989,Neil Warnock,Eddie Howe,K Friend,1,...,16,15,0,2.196429e+06,49,11,22.448980,0,0,0.000000
3,3050168,2018-08-11,Bournemouth,Cardiff City,989,603,Eddie Howe,Neil Warnock,K Friend,1,...,11,4,0,6.035714e+06,128,40,31.250000,0,0,0.000000
5,3050169,2018-08-11,Crystal Palace,Fulham,873,931,Roy Hodgson,Slavisa Jokanovic,M Dean,2,...,8,14,0,1.117857e+07,207,69,33.333333,2,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4361,4095365,2024-03-16,Fulham,Tottenham,931,148,Marco Silva,Ange Postecoglou,R Jones,2,...,15,13,0,1.681250e+07,247,68,27.530364,12,1,8.333333
4363,4095366,2024-03-16,Nottingham Forest,Luton Town,703,1031,Nuno Esp√≠rito Santo,Rob Edwards,D England,2,...,14,7,0,1.485714e+07,90,27,30.000000,1,0,0.000000
4362,4095366,2024-03-16,Luton Town,Nottingham Forest,1031,703,Rob Edwards,Nuno Esp√≠rito Santo,D England,1,...,15,5,0,5.200000e+06,62,22,35.483871,1,0,0.000000
4365,4095368,2024-03-17,West Ham,Aston Villa,379,405,David Moyes,Unai Emery,J Gillett,3,...,17,8,0,2.563571e+07,501,183,36.526946,17,8,47.058824
4364,4095368,2024-03-17,Aston Villa,West Ham,405,379,Unai Emery,David Moyes,J Gillett,3,...,9,3,1,3.106667e+07,353,114,32.294618,17,3,17.647059

In [166]:
not_app_features = ['Date', 'game_id', 'club_id', 'opponent_id', 'B365TW', 'B365D', 'B365OW', 'Table', 'Oppo. Table', 
'own_manager_name', 'opponent_manager_name', 'Venue', 'Result', 'Referee', 'total_games', 'wins', 'win_percentage', 
'total_games_vs_opponent', 'wins_vs_opponent', 'win_percentage_vs_opponent']

In [167]:
app_features = ['Date', 'club_id', 'TY', 'OY', 'TR', 'OR', 'Possesion', 'Aerial Duels(%)', 'GF', 'GA',
'Shot on Target', 'Shot on Target(%)', 'Goals per Shot',
'Expected Goals', 'Save%', 'Clean Sheet', 'Pass Completion %',
'Assists', 'Exp. Assisted Goals', 'Expected Assists', 'Tackles Won',
'% of Dribblers Tackled', 'Blocks', 'Interceptions', 'Error', 'market_value_in_eur']

In [168]:
# 'game_id', 'Date', 'club_id' index ÎπºÍ≥† Î™®Îç∏ÎßÅ Ìï† Ïª¨ÎüºÏùò Î¶¨Ïä§Ìä∏

selected_col = ['TY', 'OY', 'TR', 'OR', 'Possesion', 'Aerial Duels(%)', 'GF', 'GA',
'Shot on Target', 'Shot on Target(%)', 'Goals per Shot',
'Expected Goals', 'Save%', 'Clean Sheet', 'Pass Completion %',
'Assists', 'Exp. Assisted Goals', 'Expected Assists', 'Tackles Won',
'% of Dribblers Tackled', 'Blocks', 'Interceptions', 'Error', 'market_value_in_eur']

In [169]:
df[app_features]

,Date,club_id,TY,OY,TR,OR,Possesion,Aerial Duels(%),GF,GA,...,Pass Completion %,Assists,Exp. Assisted Goals,Expected Assists,Tackles Won,% of Dribblers Tackled,Blocks,Interceptions,Error,market_value_in_eur
10,2018-08-10,985,2,1,0,0,47,40.9,2,1,...,80.1,1,0.7,0.3,13,50.0,15,17,0,4.071429e+07
11,2018-08-10,1003,1,2,0,0,53,59.1,1,2,...,79.4,0,0.8,1.0,11,21.4,8,12,0,1.478571e+07
2,2018-08-11,603,1,1,0,0,37,49.2,0,2,...,58.4,0,1.5,1.2,12,47.6,16,15,0,2.196429e+06
3,2018-08-11,989,1,1,0,0,63,50.8,2,0,...,79.0,2,1.3,1.1,5,47.1,11,4,0,6.035714e+06
5,2018-08-11,873,2,1,0,0,35,66.7,2,0,...,73.7,2,0.9,0.7,15,42.9,8,14,0,1.117857e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4361,2024-03-16,931,2,3,0,0,43,44.0,3,0,...,75.8,2,1.5,1.3,9,53.6,15,13,0,1.681250e+07
4363,2024-03-16,703,2,1,0,0,40,60.6,1,1,...,68.8,1,1.7,1.4,17,48.1,14,7,0,1.485714e+07
4362,2024-03-16,1031,1,2,0,0,60,39.4,1,1,...,78.2,1,0.4,0.7,5,36.4,15,5,0,5.200000e+06
4365,2024-03-17,379,3,3,0,0,31,50.0,1,1,...,72.6,1,1.8,1.5,8,33.3,17,8,0,2.563571e+07
4364,2024-03-17,405,3,3,0,0,69,50.0,1,1,...,85.3,1,0.5,0.9,10,53.8,9,3,1,3.106667e+07

In [170]:
moving_avg_df = df[app_features].groupby(['club_id'])[selected_col].rolling(window=5).mean().shift(1).reset_index(drop=True)

In [171]:
moving_avg_df

,TY,OY,TR,OR,Possesion,Aerial Duels(%),GF,GA,Shot on Target,Shot on Target(%),...,Pass Completion %,Assists,Exp. Assisted Goals,Expected Assists,Tackles Won,% of Dribblers Tackled,Blocks,Interceptions,Error,market_value_in_eur
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4361,1.4,2.4,0.0,0.0,62.4,58.74,1.6,1.4,5.2,37.18,...,86.10,1.2,1.20,1.20,11.2,45.20,10.8,8.8,1.0,1.744524e+07
4362,1.4,2.4,0.0,0.0,63.0,53.36,1.0,1.4,4.2,34.42,...,85.84,0.8,1.06,1.10,10.8,45.94,11.6,8.8,0.8,1.809482e+07
4363,2.2,2.4,0.0,0.2,65.2,55.94,2.0,1.4,4.4,34.64,...,85.78,1.2,1.02,1.18,11.6,44.46,12.2,8.0,0.8,1.911625e+07
4364,2.4,2.2,0.2,0.2,63.6,54.14,2.2,1.6,5.2,35.26,...,85.64,1.4,1.04,1.04,11.2,41.96,12.0,7.4,0.8,1.956208e+07
4365,2.4,2.0,0.2,0.2,65.8,55.86,2.2,1.4,5.8,37.48,...,87.62,1.4,1.18,1.22,11.0,46.90,11.6,8.0,1.0,1.986208e+07

In [172]:
moving_avg_df.columns

Index(['TY', 'OY', 'TR', 'OR', 'Possesion', 'Aerial Duels(%)', 'GF', 'GA',
       'Shot on Target', 'Shot on Target(%)', 'Goals per Shot',
       'Expected Goals', 'Save%', 'Clean Sheet', 'Pass Completion %',
       'Assists', 'Exp. Assisted Goals', 'Expected Assists', 'Tackles Won',
       '% of Dribblers Tackled', 'Blocks', 'Interceptions', 'Error',
       'market_value_in_eur'],
      dtype='object')

In [173]:
m_final_df = pd.concat([df[not_app_features], moving_avg_df], axis=1)

In [174]:
m_final_df.isnull().sum()

Date                            0
game_id                         0
club_id                         0
opponent_id                     0
B365TW                          0
B365D                           0
B365OW                          0
Table                           0
Oppo. Table                     0
own_manager_name                0
opponent_manager_name           0
Venue                           0
Result                          0
Referee                         0
total_games                     0
wins                            0
win_percentage                  0
total_games_vs_opponent         0
wins_vs_opponent                0
win_percentage_vs_opponent      0
TY                            113
OY                            113
TR                            113
OR                            113
Possesion                     113
Aerial Duels(%)               113
GF                            113
GA                            113
Shot on Target                113
Shot on Target(%)             113
Goals per Shot                113
Expected Goals                113
Save%                         113
Clean Sheet                   113
Pass Completion %             113
Assists                       113
Exp. Assisted Goals           113
Expected Assists              113
Tackles Won                   113
% of Dribblers Tackled        113
Blocks                        113
Interceptions                 113
Error                         113
market_value_in_eur           113
dtype: int64

In [175]:
cleaned_final_df = m_final_df.dropna()

In [176]:
cleaned_final_df

,Date,game_id,club_id,opponent_id,B365TW,B365D,B365OW,Table,Oppo. Table,own_manager_name,...,Pass Completion %,Assists,Exp. Assisted Goals,Expected Assists,Tackles Won,% of Dribblers Tackled,Blocks,Interceptions,Error,market_value_in_eur
10,2018-08-10,3050172,985,1003,63.694268,25.641026,13.333333,7,13,Jos√© Mourinho,...,81.48,2.2,1.00,1.20,10.8,42.60,13.0,10.8,0.4,3.162857e+07
11,2018-08-10,3050172,1003,985,13.333333,25.641026,63.694268,13,7,Claude Puel,...,81.94,2.0,1.14,1.26,10.6,43.28,12.6,11.4,0.6,3.244286e+07
5,2018-08-11,3050169,873,931,33.333333,29.411765,40.000000,3,15,Roy Hodgson,...,81.36,1.2,1.26,1.10,9.2,38.84,10.4,9.6,1.2,3.158571e+07
7,2018-08-11,3050170,631,1110,62.111801,25.000000,15.384615,2,19,Maurizio Sarri,...,81.96,1.6,1.04,1.08,8.6,38.82,10.6,8.0,0.8,3.135714e+07
6,2018-08-11,3050170,1110,631,15.384615,25.000000,62.111801,19,2,David Wagner,...,82.24,1.6,1.30,1.20,8.8,37.16,10.4,9.0,1.0,3.164286e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4361,2024-03-16,4095365,931,148,28.571429,26.315789,51.282051,12,5,Marco Silva,...,86.10,1.2,1.20,1.20,11.2,45.20,10.8,8.8,1.0,1.744524e+07
4363,2024-03-16,4095366,703,1031,40.816327,28.571429,35.714286,17,18,Nuno Esp√≠rito Santo,...,85.78,1.2,1.02,1.18,11.6,44.46,12.2,8.0,0.8,1.911625e+07
4362,2024-03-16,4095366,1031,703,35.714286,28.571429,40.816327,18,17,Rob Edwards,...,85.84,0.8,1.06,1.10,10.8,45.94,11.6,8.8,0.8,1.809482e+07
4365,2024-03-17,4095368,379,405,38.022814,26.666667,40.816327,7,4,David Moyes,...,87.62,1.4,1.18,1.22,11.0,46.90,11.6,8.0,1.0,1.986208e+07
4364,2024-03-17,4095368,405,379,40.816327,26.666667,38.022814,4,7,Unai Emery,...,85.64,1.4,1.04,1.04,11.2,41.96,12.0,7.4,0.8,1.956208e+07

In [177]:
# ÎùºÎ≤® Ïù∏ÏΩîÎçî Í∞ùÏ≤¥ ÏÉùÏÑ±
label_encoder = LabelEncoder()

# ÎùºÎ≤® Ïù∏ÏΩîÎî© Ï†ÅÏö©
df['own_manager_name'] = label_encoder.fit_transform(df['own_manager_name'])

In [178]:
label_mapping = dict(zip(label_encoder.classes_, range(len(label_encoder.classes_))))
label_mapping

{'Aaron Danks': 0,
 'Adam Sadler': 1,
 'Albert Stuivenberg': 2,
 'Andoni Iraola': 3,
 'Ange Postecoglou': 4,
 'Antonio Conte': 5,
 'Bj√∂rn Hamberg': 6,
 'Brendan Rodgers': 7,
 'Bruno Lage': 8,
 'Bruno Saltor': 9,
 'Carlo Ancelotti': 10,
 'Chris Hughton': 11,
 'Chris Wilder': 12,
 'Claude Puel': 13,
 'Claudio Ranieri': 14,
 'Cristian Stellini': 15,
 'Daniel Farke': 16,
 'David Moyes': 17,
 'David Wagner': 18,
 'Dean Smith': 19,
 'Duncan Ferguson': 20,
 'Eddie Howe': 21,
 'Erik ten Hag': 22,
 'Frank Lampard': 23,
 'Freddie Ljungberg': 24,
 "Gary O'Neil": 25,
 'Graeme Jones': 26,
 'Graham Potter': 27,
 'Hayden Mullins': 28,
 'Ian Woan': 29,
 'Jan Siewert': 30,
 'Jason Tindall': 31,
 'Javi Gracia': 32,
 'Jesse Marsch': 33,
 'Jos√© Mourinho': 34,
 'Julen Lopetegui': 35,
 'J√ºrgen Klopp': 36,
 'Kelvin Davis': 37,
 'Manuel Pellegrini': 38,
 'Marcelo Bielsa': 39,
 'Marco Silva': 40,
 'Mark Hudson': 41,
 'Mark Hughes': 42,
 'Mauricio Pochettino': 43,
 'Maurizio Sarri': 44,
 'Michael Carrick': 45,
 'Michael Skubala': 46,
 'Mike Jackson': 47,
 'Mike Stowell': 48,
 'Mikel Arteta': 49,
 'Nathan Jones': 50,
 'Neil Warnock': 51,
 'Nigel Pearson': 52,
 'Nuno Esp√≠rito Santo': 53,
 'Ole Gunnar Solskjaer': 54,
 'Ole Gunnar Solskj√¶r': 55,
 'Oliver Glasner': 56,
 'Patrick McCarthy': 57,
 'Patrick Vieira': 58,
 'Paul Heckingbottom': 59,
 'Pep Guardiola': 60,
 'Quique S√°nchez Flores': 61,
 'Rafael Ben√≠tez': 62,
 'Ralf Rangnick': 63,
 'Ralph Hasenh√ºttl': 64,
 'Ray Lewington': 65,
 'Rob Edwards': 66,
 'Roberto De Zerbi': 67,
 'Roy Hodgson': 68,
 'Rub√©n Sell√©s': 69,
 'Ryan Mason': 70,
 'Sam Allardyce': 71,
 'Scott Parker': 72,
 'Sean Dyche': 73,
 'Slaven Bilic': 74,
 'Slavisa Jokanovic': 75,
 'Steve Bruce': 76,
 'Steve Cooper': 77,
 'Steve Davis': 78,
 'Steven Gerrard': 79,
 'Thomas Frank': 80,
 'Thomas Tuchel': 81,
 'Unai Emery': 82,
 'Vincent Kompany': 83,
 'Xisco Mu√±oz': 84}

In [179]:
# ÎùºÎ≤® Ïù∏ÏΩîÎçî Í∞ùÏ≤¥ ÏÉùÏÑ±
label_encoder2 = LabelEncoder()

# ÎùºÎ≤® Ïù∏ÏΩîÎî© Ï†ÅÏö©
df['opponent_manager_name'] = label_encoder2.fit_transform(df['opponent_manager_name'])

In [180]:
label_mapping2 = dict(zip(label_encoder2.classes_, range(len(label_encoder2.classes_))))
label_mapping2

{'Aaron Danks': 0,
 'Adam Sadler': 1,
 'Albert Stuivenberg': 2,
 'Andoni Iraola': 3,
 'Ange Postecoglou': 4,
 'Antonio Conte': 5,
 'Bj√∂rn Hamberg': 6,
 'Brendan Rodgers': 7,
 'Bruno Lage': 8,
 'Bruno Saltor': 9,
 'Carlo Ancelotti': 10,
 'Chris Hughton': 11,
 'Chris Wilder': 12,
 'Claude Puel': 13,
 'Claudio Ranieri': 14,
 'Cristian Stellini': 15,
 'Daniel Farke': 16,
 'David Moyes': 17,
 'David Wagner': 18,
 'Dean Smith': 19,
 'Duncan Ferguson': 20,
 'Eddie Howe': 21,
 'Erik ten Hag': 22,
 'Frank Lampard': 23,
 'Freddie Ljungberg': 24,
 "Gary O'Neil": 25,
 'Graeme Jones': 26,
 'Graham Potter': 27,
 'Hayden Mullins': 28,
 'Ian Woan': 29,
 'Jan Siewert': 30,
 'Jason Tindall': 31,
 'Javi Gracia': 32,
 'Jesse Marsch': 33,
 'Jos√© Mourinho': 34,
 'Julen Lopetegui': 35,
 'J√ºrgen Klopp': 36,
 'Kelvin Davis': 37,
 'Manuel Pellegrini': 38,
 'Marcelo Bielsa': 39,
 'Marco Silva': 40,
 'Mark Hudson': 41,
 'Mark Hughes': 42,
 'Mauricio Pochettino': 43,
 'Maurizio Sarri': 44,
 'Michael Carrick': 45,
 'Michael Skubala': 46,
 'Mike Jackson': 47,
 'Mike Stowell': 48,
 'Mikel Arteta': 49,
 'Nathan Jones': 50,
 'Neil Warnock': 51,
 'Nigel Pearson': 52,
 'Nuno Esp√≠rito Santo': 53,
 'Ole Gunnar Solskjaer': 54,
 'Ole Gunnar Solskj√¶r': 55,
 'Oliver Glasner': 56,
 'Patrick McCarthy': 57,
 'Patrick Vieira': 58,
 'Paul Heckingbottom': 59,
 'Pep Guardiola': 60,
 'Quique S√°nchez Flores': 61,
 'Rafael Ben√≠tez': 62,
 'Ralf Rangnick': 63,
 'Ralph Hasenh√ºttl': 64,
 'Ray Lewington': 65,
 'Rob Edwards': 66,
 'Roberto De Zerbi': 67,
 'Roy Hodgson': 68,
 'Rub√©n Sell√©s': 69,
 'Ryan Mason': 70,
 'Sam Allardyce': 71,
 'Scott Parker': 72,
 'Sean Dyche': 73,
 'Slaven Bilic': 74,
 'Slavisa Jokanovic': 75,
 'Steve Bruce': 76,
 'Steve Cooper': 77,
 'Steve Davis': 78,
 'Steven Gerrard': 79,
 'Thomas Frank': 80,
 'Thomas Tuchel': 81,
 'Unai Emery': 82,
 'Vincent Kompany': 83,
 'Xisco Mu√±oz': 84}

In [181]:
label_mapping == label_mapping2

True

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4366 entries, 10 to 4364
Data columns (total 46 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   game_id                     4366 non-null   int64
 1   Date                        4366 non-null   object
 2   Team                        4366 non-null   object
 3   Opponent                    4366 non-null   object
 4   club_id                     4366 non-null   int64
 5   opponent_id                 4366 non-null   int64
 6   own_manager_name            4366 non-null   int32
 7   opponent_manager_name       4366 non-null   int32
 8   Referee                     4366 non-null   object
 9   TY                          4366 non-null   int64
 10  OY                          4366 non-null   int64
 11  TR                          4366 non-null   int64
 12  OR                          4366 non-null   int64
 13  B365TW                      4366 non-null   float64
 14  B365D                       4366 non-null   float64
 15  B365OW                      4366 non-null   float64
 16  Table                       4366 non-null   int64
 17  Venue                       4366 non-null   object
 18  Result                      4366 non-null   object
 19  Possesion                   4366 non-null   int64
 20  Aerial Duels(%)             4366 non-null   float64
 21  GF                          4366 non-null   int64
 22  GA                          4366 non-null   int64
 23  Oppo. Table                 4366 non-null   int64
 24  Shot on Target              4366 non-null   int64
 25  Shot on Target(%)           4366 non-null   float64
 26  Goals per Shot              4366 non-null   float64
 27  Expected Goals              4366 non-null   float64
 28  Save%                       4366 non-null   float64
 29  Clean Sheet                 4366 non-null   int64
 30  Pass Completion %           4366 non-null   float64
 31  Assists                     4366 non-null   int64
 32  Exp. Assisted Goals         4366 non-null   float64
 33  Expected Assists            4366 non-null   float64
 34  Tackles Won                 4366 non-null   int64
 35  % of Dribblers Tackled      4366 non-null   float64
 36  Blocks                      4366 non-null   int64
 37  Interceptions               4366 non-null   int64
 38  Error                       4366 non-null   int64
 39  market_value_in_eur         4366 non-null   float64
 40  total_games                 4366 non-null   int64
 41  wins                        4366 non-null   int64
 42  win_percentage              4366 non-null   float64
 43  total_games_vs_opponent     4366 non-null   int64
 44  wins_vs_opponent            4366 non-null   int64
 45  win_percentage_vs_opponent  4366 non-null   float64
dtypes: float64(15), int32(2), int64(23), object(6)
memory usage: 1.7+ MB

In [183]:
df.columns

Index(['game_id', 'Date', 'Team', 'Opponent', 'club_id', 'opponent_id',
       'own_manager_name', 'opponent_manager_name', 'Referee', 'TY', 'OY',
       'TR', 'OR', 'B365TW', 'B365D', 'B365OW', 'Table', 'Venue', 'Result',
       'Possesion', 'Aerial Duels(%)', 'GF', 'GA', 'Oppo. Table',
       'Shot on Target', 'Shot on Target(%)', 'Goals per Shot',
       'Expected Goals', 'Save%', 'Clean Sheet', 'Pass Completion %',
       'Assists', 'Exp. Assisted Goals', 'Expected Assists', 'Tackles Won',
       '% of Dribblers Tackled', 'Blocks', 'Interceptions', 'Error',
       'market_value_in_eur', 'total_games', 'wins', 'win_percentage',
       'total_games_vs_opponent', 'wins_vs_opponent',
       'win_percentage_vs_opponent'],
      dtype='object')

In [184]:
home_df = df[df['Venue'] == 'Home']

In [185]:
home_df

,game_id,Date,Team,Opponent,club_id,opponent_id,own_manager_name,opponent_manager_name,Referee,TY,...,Blocks,Interceptions,Error,market_value_in_eur,total_games,wins,win_percentage,total_games_vs_opponent,wins_vs_opponent,win_percentage_vs_opponent
10,3050172,2018-08-10,Manchester Utd,Leicester City,985,1003,34,13,A Marriner,2,...,15,17,0,4.071429e+07,313,180,57.507987,9,5,55.555556
3,3050168,2018-08-11,Bournemouth,Cardiff City,989,603,21,51,K Friend,1,...,11,4,0,6.035714e+06,128,40,31.250000,0,0,0.000000
4,3050169,2018-08-11,Fulham,Crystal Palace,931,873,75,68,M Dean,1,...,5,15,1,1.060714e+07,92,25,27.173913,2,1,50.000000
6,3050170,2018-08-11,Huddersfield,Chelsea,1110,631,18,44,C Kavanagh,2,...,13,16,0,5.653846e+06,55,16,29.090909,2,0,0.000000
12,3050173,2018-08-11,Newcastle Utd,Tottenham,762,148,62,43,M Atkinson,2,...,12,20,2,7.840000e+06,213,64,30.046948,10,5,50.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4121,4095236,2024-03-13,Bournemouth,Luton Town,989,1031,3,66,S Allison,1,...,14,5,0,1.459375e+07,271,85,31.365314,1,1,100.000000
4359,4095362,2024-03-16,Burnley,Brentford,1132,1148,83,80,D Bond,2,...,13,8,1,1.007143e+07,327,92,28.134557,3,1,33.333333
4361,4095365,2024-03-16,Fulham,Tottenham,931,148,40,4,R Jones,2,...,15,13,0,1.681250e+07,247,68,27.530364,12,1,8.333333
4362,4095366,2024-03-16,Luton Town,Nottingham Forest,1031,703,66,53,D England,1,...,15,5,0,5.200000e+06,62,22,35.483871,1,0,0.000000
4365,4095368,2024-03-17,West Ham,Aston Villa,379,405,17,82,J Gillett,3,...,17,8,0,2.563571e+07,501,183,36.526946,17,8,47.058824

In [186]:
away_df = df[df['Venue'] == 'Away']

In [187]:
home_df.columns

Index(['game_id', 'Date', 'Team', 'Opponent', 'club_id', 'opponent_id',
       'own_manager_name', 'opponent_manager_name', 'Referee', 'TY', 'OY',
       'TR', 'OR', 'B365TW', 'B365D', 'B365OW', 'Table', 'Venue', 'Result',
       'Possesion', 'Aerial Duels(%)', 'GF', 'GA', 'Oppo. Table',
       'Shot on Target', 'Shot on Target(%)', 'Goals per Shot',
       'Expected Goals', 'Save%', 'Clean Sheet', 'Pass Completion %',
       'Assists', 'Exp. Assisted Goals', 'Expected Assists', 'Tackles Won',
       '% of Dribblers Tackled', 'Blocks', 'Interceptions', 'Error',
       'market_value_in_eur', 'total_games', 'wins', 'win_percentage',
       'total_games_vs_opponent', 'wins_vs_opponent',
       'win_percentage_vs_opponent'],
      dtype='object')

In [188]:
away_df.columns

Index(['game_id', 'Date', 'Team', 'Opponent', 'club_id', 'opponent_id',
       'own_manager_name', 'opponent_manager_name', 'Referee', 'TY', 'OY',
       'TR', 'OR', 'B365TW', 'B365D', 'B365OW', 'Table', 'Venue', 'Result',
       'Possesion', 'Aerial Duels(%)', 'GF', 'GA', 'Oppo. Table',
       'Shot on Target', 'Shot on Target(%)', 'Goals per Shot',
       'Expected Goals', 'Save%', 'Clean Sheet', 'Pass Completion %',
       'Assists', 'Exp. Assisted Goals', 'Expected Assists', 'Tackles Won',
       '% of Dribblers Tackled', 'Blocks', 'Interceptions', 'Error',
       'market_value_in_eur', 'total_games', 'wins', 'win_percentage',
       'total_games_vs_opponent', 'wins_vs_opponent',
       'win_percentage_vs_opponent'],
      dtype='object')

In [189]:
merged_df = pd.merge(home_df, away_df, on=(['game_id', 'Date']))

In [190]:
merged_df

,game_id,Date,Team_x,Opponent_x,club_id_x,opponent_id_x,own_manager_name_x,opponent_manager_name_x,Referee_x,TY_x,...,Blocks_y,Interceptions_y,Error_y,market_value_in_eur_y,total_games_y,wins_y,win_percentage_y,total_games_vs_opponent_y,wins_vs_opponent_y,win_percentage_vs_opponent_y
0,3050172,2018-08-10,Manchester Utd,Leicester City,985,1003,34,13,A Marriner,2,...,8,12,0,1.478571e+07,181,71,39.226519,9,1,11.111111
1,3050168,2018-08-11,Bournemouth,Cardiff City,989,603,21,51,K Friend,1,...,16,15,0,2.196429e+06,49,11,22.448980,0,0,0.000000
2,3050169,2018-08-11,Fulham,Crystal Palace,931,873,75,68,M Dean,1,...,8,14,0,1.117857e+07,207,69,33.333333,2,0,0.000000
3,3050170,2018-08-11,Huddersfield,Chelsea,1110,631,18,44,C Kavanagh,2,...,6,9,0,4.328571e+07,315,184,58.412698,2,1,50.000000
4,3050173,2018-08-11,Newcastle Utd,Tottenham,762,148,62,43,M Atkinson,2,...,17,10,0,4.853846e+07,310,171,55.161290,10,5,50.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2178,4095236,2024-03-13,Bournemouth,Luton Town,989,1031,3,66,S Allison,1,...,20,5,1,4.086667e+06,50,19,38.000000,1,0,0.000000
2179,4095362,2024-03-16,Burnley,Brentford,1132,1148,83,80,D Bond,2,...,12,13,0,1.728125e+07,131,46,35.114504,3,2,66.666667
2180,4095365,2024-03-16,Fulham,Tottenham,931,148,40,4,R Jones,2,...,14,8,0,3.975000e+07,588,316,53.741497,12,10,83.333333
2181,4095366,2024-03-16,Luton Town,Nottingham Forest,1031,703,66,53,D England,1,...,14,7,0,1.485714e+07,90,27,30.000000,1,0,0.000000
2182,4095368,2024-03-17,West Ham,Aston Villa,379,405,17,82,J Gillett,3,...,9,3,1,3.106667e+07,353,114,32.294618,17,3,17.647059

In [191]:
merged_df.columns

Index(['game_id', 'Date', 'Team_x', 'Opponent_x', 'club_id_x', 'opponent_id_x',
       'own_manager_name_x', 'opponent_manager_name_x', 'Referee_x', 'TY_x',
       'OY_x', 'TR_x', 'OR_x', 'B365TW_x', 'B365D_x', 'B365OW_x', 'Table_x',
       'Venue_x', 'Result_x', 'Possesion_x', 'Aerial Duels(%)_x', 'GF_x',
       'GA_x', 'Oppo. Table_x', 'Shot on Target_x', 'Shot on Target(%)_x',
       'Goals per Shot_x', 'Expected Goals_x', 'Save%_x', 'Clean Sheet_x',
       'Pass Completion %_x', 'Assists_x', 'Exp. Assisted Goals_x',
       'Expected Assists_x', 'Tackles Won_x', '% of Dribblers Tackled_x',
       'Blocks_x', 'Interceptions_x', 'Error_x', 'market_value_in_eur_x',
       'total_games_x', 'wins_x', 'win_percentage_x',
       'total_games_vs_opponent_x', 'wins_vs_opponent_x',
       'win_percentage_vs_opponent_x', 'Team_y', 'Opponent_y', 'club_id_y',
       'opponent_id_y', 'own_manager_name_y', 'opponent_manager_name_y',
       'Referee_y', 'TY_y', 'OY_y', 'TR_y', 'OR_y', 'B365TW_y', 'B365D_y',
       'B365OW_y', 'Table_y', 'Venue_y', 'Result_y', 'Possesion_y',
       'Aerial Duels(%)_y', 'GF_y', 'GA_y', 'Oppo. Table_y',
       'Shot on Target_y', 'Shot on Target(%)_y', 'Goals per Shot_y',
       'Expected Goals_y', 'Save%_y', 'Clean Sheet_y', 'Pass Completion %_y',
       'Assists_y', 'Exp. Assisted Goals_y', 'Expected Assists_y',
       'Tackles Won_y', '% of Dribblers Tackled_y', 'Blocks_y',
       'Interceptions_y', 'Error_y', 'market_value_in_eur_y', 'total_games_y',
       'wins_y', 'win_percentage_y', 'total_games_vs_opponent_y',
       'wins_vs_opponent_y', 'win_percentage_vs_opponent_y'],
      dtype='object')

In [192]:
merged_df[['total_games_x', 'wins_x', 'win_percentage_x',
       'total_games_vs_opponent_x', 'wins_vs_opponent_x',
       'win_percentage_vs_opponent_x','total_games_y',
       'wins_y', 'win_percentage_y', 'total_games_vs_opponent_y',
       'wins_vs_opponent_y', 'win_percentage_vs_opponent_y']]

,total_games_x,wins_x,win_percentage_x,total_games_vs_opponent_x,wins_vs_opponent_x,win_percentage_vs_opponent_x,total_games_y,wins_y,win_percentage_y,total_games_vs_opponent_y,wins_vs_opponent_y,win_percentage_vs_opponent_y
0,313,180,57.507987,9,5,55.555556,181,71,39.226519,9,1,11.111111
1,128,40,31.250000,0,0,0.000000,49,11,22.448980,0,0,0.000000
2,92,25,27.173913,2,1,50.000000,207,69,33.333333,2,0,0.000000
3,55,16,29.090909,2,0,0.000000,315,184,58.412698,2,1,50.000000
4,213,64,30.046948,10,5,50.000000,310,171,55.161290,10,5,50.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
2178,271,85,31.365314,1,1,100.000000,50,19,38.000000,1,0,0.000000
2179,327,92,28.134557,3,1,33.333333,131,46,35.114504,3,2,66.666667
2180,247,68,27.530364,12,1,8.333333,588,316,53.741497,12,10,83.333333
2181,62,22,35.483871,1,0,0.000000,90,27,30.000000,1,0,0.000000
2182,501,183,36.526946,17,8,47.058824,353,114,32.294618,17,3,17.647059

In [193]:
merged_df['Venue_x'] = merged_df['club_id_x']

In [194]:
merged_df['Venue_x']

0        985
1        989
2        931
3       1110
4        762
        ...
2178     989
2179    1132
2180     931
2181    1031
2182     379
Name: Venue_x, Length: 2183, dtype: int64

In [195]:
merged_df =  merged_df.drop(['club_id_y', 'opponent_id_y', 'B365TW_y', 'B365D_y', 'B365OW_y', 'Table_y', 'Oppo. Table_y', 
                'own_manager_name_y', 'opponent_manager_name_y', 'Referee_y', 'Venue_y', 'Result_y','Team_x', 'Opponent_x',
                'Team_y', 'Opponent_y'], axis=1)

In [196]:
merged_df.columns

Index(['game_id', 'Date', 'club_id_x', 'opponent_id_x', 'own_manager_name_x',
       'opponent_manager_name_x', 'Referee_x', 'TY_x', 'OY_x', 'TR_x', 'OR_x',
       'B365TW_x', 'B365D_x', 'B365OW_x', 'Table_x', 'Venue_x', 'Result_x',
       'Possesion_x', 'Aerial Duels(%)_x', 'GF_x', 'GA_x', 'Oppo. Table_x',
       'Shot on Target_x', 'Shot on Target(%)_x', 'Goals per Shot_x',
       'Expected Goals_x', 'Save%_x', 'Clean Sheet_x', 'Pass Completion %_x',
       'Assists_x', 'Exp. Assisted Goals_x', 'Expected Assists_x',
       'Tackles Won_x', '% of Dribblers Tackled_x', 'Blocks_x',
       'Interceptions_x', 'Error_x', 'market_value_in_eur_x', 'total_games_x',
       'wins_x', 'win_percentage_x', 'total_games_vs_opponent_x',
       'wins_vs_opponent_x', 'win_percentage_vs_opponent_x', 'TY_y', 'OY_y',
       'TR_y', 'OR_y', 'Possesion_y', 'Aerial Duels(%)_y', 'GF_y', 'GA_y',
       'Shot on Target_y', 'Shot on Target(%)_y', 'Goals per Shot_y',
       'Expected Goals_y', 'Save%_y', 'Clean Sheet_y', 'Pass Completion %_y',
       'Assists_y', 'Exp. Assisted Goals_y', 'Expected Assists_y',
       'Tackles Won_y', '% of Dribblers Tackled_y', 'Blocks_y',
       'Interceptions_y', 'Error_y', 'market_value_in_eur_y', 'total_games_y',
       'wins_y', 'win_percentage_y', 'total_games_vs_opponent_y',
       'wins_vs_opponent_y', 'win_percentage_vs_opponent_y'],
      dtype='object')

In [197]:
merged_df

,game_id,Date,club_id_x,opponent_id_x,own_manager_name_x,opponent_manager_name_x,Referee_x,TY_x,OY_x,TR_x,...,Blocks_y,Interceptions_y,Error_y,market_value_in_eur_y,total_games_y,wins_y,win_percentage_y,total_games_vs_opponent_y,wins_vs_opponent_y,win_percentage_vs_opponent_y
0,3050172,2018-08-10,985,1003,34,13,A Marriner,2,1,0,...,8,12,0,1.478571e+07,181,71,39.226519,9,1,11.111111
1,3050168,2018-08-11,989,603,21,51,K Friend,1,1,0,...,16,15,0,2.196429e+06,49,11,22.448980,0,0,0.000000
2,3050169,2018-08-11,931,873,75,68,M Dean,1,2,0,...,8,14,0,1.117857e+07,207,69,33.333333,2,0,0.000000
3,3050170,2018-08-11,1110,631,18,44,C Kavanagh,2,1,0,...,6,9,0,4.328571e+07,315,184,58.412698,2,1,50.000000
4,3050173,2018-08-11,762,148,62,43,M Atkinson,2,2,0,...,17,10,0,4.853846e+07,310,171,55.161290,10,5,50.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2178,4095236,2024-03-13,989,1031,3,66,S Allison,1,2,0,...,20,5,1,4.086667e+06,50,19,38.000000,1,0,0.000000
2179,4095362,2024-03-16,1132,1148,83,80,D Bond,2,4,0,...,12,13,0,1.728125e+07,131,46,35.114504,3,2,66.666667
2180,4095365,2024-03-16,931,148,40,4,R Jones,2,3,0,...,14,8,0,3.975000e+07,588,316,53.741497,12,10,83.333333
2181,4095366,2024-03-16,1031,703,66,53,D England,1,2,0,...,14,7,0,1.485714e+07,90,27,30.000000,1,0,0.000000
2182,4095368,2024-03-17,379,405,17,82,J Gillett,3,3,0,...,9,3,1,3.106667e+07,353,114,32.294618,17,3,17.647059

In [198]:
merged_df = merged_df.rename(columns={'opponent_id_x': 'club_id_y', 'B365TW_x': 'B365HW', 'B365D_x': 'B365D',
                                     'B365OW_x': 'B365AW', 'Oppo. Table_x': 'Table_y', 'Referee_x':'Referee',
                                     'own_manager_name_x': 'manager_name_x', 'opponent_manager_name_x':'manager_name_y',
                                     'Result_x': 'Result', 'Venue_x':'home_team_id', 'total_games_x' : 'home_total_games', 
                                     'wins_x' : 'home_win', 'win_percentage_x' : 'home_win_percentage', 
                                     'total_games_vs_opponent_x' : 'home_total_games_vs_opponent',  
                                     'wins_vs_opponent_x'  : 'home_win_vs_opponent', 'win_percentage_vs_opponent_x' : 'home_win_percentage_vs_opponent'})

In [199]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2183 entries, 0 to 2182
Data columns (total 74 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   game_id                          2183 non-null   int64
 1   Date                             2183 non-null   object
 2   club_id_x                        2183 non-null   int64
 3   club_id_y                        2183 non-null   int64
 4   manager_name_x                   2183 non-null   int32
 5   manager_name_y                   2183 non-null   int32
 6   Referee                          2183 non-null   object
 7   TY_x                             2183 non-null   int64
 8   OY_x                             2183 non-null   int64
 9   TR_x                             2183 non-null   int64
 10  OR_x                             2183 non-null   int64
 11  B365HW                           2183 non-null   float64
 12  B365D                            2183 non-null   float64
 13  B365AW                           2183 non-null   float64
 14  Table_x                          2183 non-null   int64
 15  home_team_id                     2183 non-null   int64
 16  Result                           2183 non-null   object
 17  Possesion_x                      2183 non-null   int64
 18  Aerial Duels(%)_x                2183 non-null   float64
 19  GF_x                             2183 non-null   int64
 20  GA_x                             2183 non-null   int64
 21  Table_y                          2183 non-null   int64
 22  Shot on Target_x                 2183 non-null   int64
 23  Shot on Target(%)_x              2183 non-null   float64
 24  Goals per Shot_x                 2183 non-null   float64
 25  Expected Goals_x                 2183 non-null   float64
 26  Save%_x                          2183 non-null   float64
 27  Clean Sheet_x                    2183 non-null   int64
 28  Pass Completion %_x              2183 non-null   float64
 29  Assists_x                        2183 non-null   int64
 30  Exp. Assisted Goals_x            2183 non-null   float64
 31  Expected Assists_x               2183 non-null   float64
 32  Tackles Won_x                    2183 non-null   int64
 33  % of Dribblers Tackled_x         2183 non-null   float64
 34  Blocks_x                         2183 non-null   int64
 35  Interceptions_x                  2183 non-null   int64
 36  Error_x                          2183 non-null   int64
 37  market_value_in_eur_x            2183 non-null   float64
 38  home_total_games                 2183 non-null   int64
 39  home_win                         2183 non-null   int64
 40  home_win_percentage              2183 non-null   float64
 41  home_total_games_vs_opponent     2183 non-null   int64
 42  home_win_vs_opponent             2183 non-null   int64
 43  home_win_percentage_vs_opponent  2183 non-null   float64
 44  TY_y                             2183 non-null   int64
 45  OY_y                             2183 non-null   int64
 46  TR_y                             2183 non-null   int64
 47  OR_y                             2183 non-null   int64
 48  Possesion_y                      2183 non-null   int64
 49  Aerial Duels(%)_y                2183 non-null   float64
 50  GF_y                             2183 non-null   int64
 51  GA_y                             2183 non-null   int64
 52  Shot on Target_y                 2183 non-null   int64
 53  Shot on Target(%)_y              2183 non-null   float64
 54  Goals per Shot_y                 2183 non-null   float64
 55  Expected Goals_y                 2183 non-null   float64
 56  Save%_y                          2183 non-null   float64
 57  Clean Sheet_y                    2183 non-null   int64
 58  Pass Completion %_y              2183 non-null   float64
 59  Assists_y                        2183 non-null   int64
 60  Exp. Assisted Goals_y            2183 non-null   float64
 61  Expected Assists_y               2183 non-null   float64
 62  Tackles Won_y                    2183 non-null   int64
 63  % of Dribblers Tackled_y         2183 non-null   float64
 64  Blocks_y                         2183 non-null   int64
 65  Interceptions_y                  2183 non-null   int64
 66  Error_y                          2183 non-null   int64
 67  market_value_in_eur_y            2183 non-null   float64
 68  total_games_y                    2183 non-null   int64
 69  wins_y                           2183 non-null   int64
 70  win_percentage_y                 2183 non-null   float64
 71  total_games_vs_opponent_y        2183 non-null   int64
 72  wins_vs_opponent_y               2183 non-null   int64
 73  win_percentage_vs_opponent_y     2183 non-null   float64
dtypes: float64(27), int32(2), int64(42), object(3)
memory usage: 1.2+ MB

In [200]:
def chage_result(row):
    if row == 'W':
        return 'XW'
    elif row == 'L':
        return 'YW'
    else :
        return 'D'

In [201]:
merged_df['Result'] = merged_df['Result'].apply(chage_result)

In [202]:
merged_df

,game_id,Date,club_id_x,club_id_y,manager_name_x,manager_name_y,Referee,TY_x,OY_x,TR_x,...,Blocks_y,Interceptions_y,Error_y,market_value_in_eur_y,total_games_y,wins_y,win_percentage_y,total_games_vs_opponent_y,wins_vs_opponent_y,win_percentage_vs_opponent_y
0,3050172,2018-08-10,985,1003,34,13,A Marriner,2,1,0,...,8,12,0,1.478571e+07,181,71,39.226519,9,1,11.111111
1,3050168,2018-08-11,989,603,21,51,K Friend,1,1,0,...,16,15,0,2.196429e+06,49,11,22.448980,0,0,0.000000
2,3050169,2018-08-11,931,873,75,68,M Dean,1,2,0,...,8,14,0,1.117857e+07,207,69,33.333333,2,0,0.000000
3,3050170,2018-08-11,1110,631,18,44,C Kavanagh,2,1,0,...,6,9,0,4.328571e+07,315,184,58.412698,2,1,50.000000
4,3050173,2018-08-11,762,148,62,43,M Atkinson,2,2,0,...,17,10,0,4.853846e+07,310,171,55.161290,10,5,50.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2178,4095236,2024-03-13,989,1031,3,66,S Allison,1,2,0,...,20,5,1,4.086667e+06,50,19,38.000000,1,0,0.000000
2179,4095362,2024-03-16,1132,1148,83,80,D Bond,2,4,0,...,12,13,0,1.728125e+07,131,46,35.114504,3,2,66.666667
2180,4095365,2024-03-16,931,148,40,4,R Jones,2,3,0,...,14,8,0,3.975000e+07,588,316,53.741497,12,10,83.333333
2181,4095366,2024-03-16,1031,703,66,53,D England,1,2,0,...,14,7,0,1.485714e+07,90,27,30.000000,1,0,0.000000
2182,4095368,2024-03-17,379,405,17,82,J Gillett,3,3,0,...,9,3,1,3.106667e+07,353,114,32.294618,17,3,17.647059

In [203]:
# ÎùºÎ≤® Ïù∏ÏΩîÎçî Í∞ùÏ≤¥ ÏÉùÏÑ±
label_encoder3 = LabelEncoder()

# ÎùºÎ≤® Ïù∏ÏΩîÎî© Ï†ÅÏö©
merged_df['Referee'] = label_encoder3.fit_transform(merged_df['Referee'])

In [204]:
label_mapping3 = dict(zip(label_encoder3.classes_, range(len(label_encoder3.classes_))))
label_mapping3

{'A Madley': 0,
 'A Marriner': 1,
 'A Moss': 2,
 'A Taylor': 3,
 'C Kavanagh': 4,
 'C Pawson': 5,
 'C Salisbury': 6,
 'D Bond': 7,
 'D Coote': 8,
 'D England': 9,
 'G Scott': 10,
 'J Brooks': 11,
 'J Gillett': 12,
 'J Moss': 13,
 'J Smith': 14,
 'K Friend': 15,
 'L Mason': 16,
 'L Probert': 17,
 'L Smith': 18,
 'M Atkinson': 19,
 'M Dean': 20,
 'M Oliver': 21,
 'M Salisbury': 22,
 'O Langford': 23,
 'P Bankes': 24,
 'P Tierney': 25,
 'R East': 26,
 'R Jones': 27,
 'R Madley': 28,
 'R Welch': 29,
 'S Allison': 30,
 'S Attwell': 31,
 'S Barrott': 32,
 'S Hooper': 33,
 'S Scott': 34,
 'S Singh': 35,
 'T Bramall': 36,
 'T Harrington': 37,
 'T Robinson': 38}

In [205]:
# ÎùºÎ≤® Ïù∏ÏΩîÎçî Í∞ùÏ≤¥ ÏÉùÏÑ±
label_encoder4 = LabelEncoder()

# ÎùºÎ≤® Ïù∏ÏΩîÎî© Ï†ÅÏö©
merged_df['Result'] = label_encoder4.fit_transform(merged_df['Result'])

In [206]:
label_mapping4 = dict(zip(label_encoder4.classes_, range(len(label_encoder4.classes_))))
label_mapping4

{'D': 0, 'XW': 1, 'YW': 2}

In [207]:
merged_df.columns

Index(['game_id', 'Date', 'club_id_x', 'club_id_y', 'manager_name_x',
       'manager_name_y', 'Referee', 'TY_x', 'OY_x', 'TR_x', 'OR_x', 'B365HW',
       'B365D', 'B365AW', 'Table_x', 'home_team_id', 'Result', 'Possesion_x',
       'Aerial Duels(%)_x', 'GF_x', 'GA_x', 'Table_y', 'Shot on Target_x',
       'Shot on Target(%)_x', 'Goals per Shot_x', 'Expected Goals_x',
       'Save%_x', 'Clean Sheet_x', 'Pass Completion %_x', 'Assists_x',
       'Exp. Assisted Goals_x', 'Expected Assists_x', 'Tackles Won_x',
       '% of Dribblers Tackled_x', 'Blocks_x', 'Interceptions_x', 'Error_x',
       'market_value_in_eur_x', 'home_total_games', 'home_win',
       'home_win_percentage', 'home_total_games_vs_opponent',
       'home_win_vs_opponent', 'home_win_percentage_vs_opponent', 'TY_y',
       'OY_y', 'TR_y', 'OR_y', 'Possesion_y', 'Aerial Duels(%)_y', 'GF_y',
       'GA_y', 'Shot on Target_y', 'Shot on Target(%)_y', 'Goals per Shot_y',
       'Expected Goals_y', 'Save%_y', 'Clean Sheet_y', 'Pass Completion %_y',
       'Assists_y', 'Exp. Assisted Goals_y', 'Expected Assists_y',
       'Tackles Won_y', '% of Dribblers Tackled_y', 'Blocks_y',
       'Interceptions_y', 'Error_y', 'market_value_in_eur_y', 'total_games_y',
       'wins_y', 'win_percentage_y', 'total_games_vs_opponent_y',
       'wins_vs_opponent_y', 'win_percentage_vs_opponent_y'],
      dtype='object')

In [208]:
independent_variable = ['club_id_x', 'club_id_y', 'manager_name_x',
       'manager_name_y', 'Referee', 'TY_x', 'OY_x', 'TR_x', 'OR_x', 'B365HW',
       'B365D', 'B365AW', 'Table_x', 'home_team_id', 'Possesion_x',
       'Aerial Duels(%)_x', 'GF_x', 'GA_x', 'Table_y', 'Shot on Target_x',
       'Shot on Target(%)_x', 'Goals per Shot_x', 'Expected Goals_x',
       'Save%_x', 'Clean Sheet_x', 'Pass Completion %_x', 'Assists_x',
       'Exp. Assisted Goals_x', 'Expected Assists_x', 'Tackles Won_x',
       '% of Dribblers Tackled_x', 'Blocks_x', 'Interceptions_x', 'Error_x',
       'market_value_in_eur_x', 'home_total_games', 'home_win',
       'home_win_percentage', 'home_total_games_vs_opponent',
       'home_win_vs_opponent', 'home_win_percentage_vs_opponent', 'TY_y',
       'OY_y', 'TR_y', 'OR_y', 'Possesion_y', 'Aerial Duels(%)_y', 'GF_y',
       'GA_y', 'Shot on Target_y', 'Shot on Target(%)_y', 'Goals per Shot_y',
       'Expected Goals_y', 'Save%_y', 'Clean Sheet_y', 'Pass Completion %_y',
       'Assists_y', 'Exp. Assisted Goals_y', 'Expected Assists_y',
       'Tackles Won_y', '% of Dribblers Tackled_y', 'Blocks_y',
       'Interceptions_y', 'Error_y', 'market_value_in_eur_y', 'total_games_y',
       'wins_y', 'win_percentage_y', 'total_games_vs_opponent_y',
       'wins_vs_opponent_y', 'win_percentage_vs_opponent_y']

In [209]:
# Îç∞Ïù¥ÌÑ∞ÏÖã trainÍ≥º testÎ°ú ÎÇòÎàÑÍ∏∞
X = merged_df[independent_variable]
y = merged_df['Result']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [210]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

y_pred = rf_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred, average='weighted')

print("Accuracy:", accuracy)
print("F1 Score:", f1)

Accuracy: 0.9931350114416476
F1 Score: 0.9931199665199936

In [211]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

y_pred = rf_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred, average='weighted')

print("Accuracy:", accuracy)
print("F1 Score:", f1)

Accuracy: 0.9931350114416476
F1 Score: 0.9931199665199936